<footer class="bg-dark text-white text-center text-lg-start p-4 fixed-footer">
    <div class="container">
        <p>&copy; Muhammed shahil KP. All rights reserved.</p>
        <ul class="list-unstyled d-flex justify-content-center">
            <li class="ms-3"><a class="text-white" href="#">Privacy Policy</a></li>
            <li class="ms-3"><a class="text-white" href="#">Terms of Service</a></li>
            <li class="ms-3"><a class="text-white" href="#">Support</a></li>
        </ul>
    </div>
</footer>
