{% extends 'base/base.html' %}

{% block title %}Track/Create Problem{% endblock %}

{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="container d-flex justify-content-center align-items-center">
        <h1 class="mb-4 text-center">Create and Manage Problem Tickets</h1>
    </div>    
    <div class="row">
        {% if data %}
        {% for item in data %}
        <!-- Card for each problem option -->
        <div class="col-md-6 mb-3">
            <div class="card" style="width: 100%; max-width: 1000px; height: 800px;">
                <img src="{% static 'index/'|add:item.image %}" class="card-img-top" alt="{{ item.title }}" style="height: 50%; object-fit: cover;">
                <div class="card-body d-flex flex-column" style="height: 50%;">
                    <div class="flex-grow-1">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <form>
                            <div class="mb-3">
                                <label for="inputField{{ forloop.counter }}" class="form-label">{{ item.pit }}</label>
                                <input type="text" class="form-control" id="inputField{{ forloop.counter }}" placeholder="{{ item.epit }}">
                            </div>
                            {% if item.description_field %}
                            <div class="mb-3">
                                <label for="description{{ forloop.counter }}" class="form-label">{{ item.description_field }}</label>
                                <textarea class="form-control" id="description{{ forloop.counter }}" rows="4" placeholder="{{ item.edescription }}"></textarea>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                    <div class="mt-auto">
                        <!-- Button with unique URLs for each card -->
                        {% if forloop.counter == 1 %}
                            <a href="/track-problem" class="btn btn-primary">{{ item.button }}</a> <!-- #1 -->
                        {% elif forloop.counter == 2 %}
                            <a href="/create-problem" class="btn btn-primary">{{ item.button }}</a> <!-- #2 -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="nodat">No data available or website is in maintainance please contact your administrator</p>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        {% endif %}

    </div>
</div>
{% endblock %}
