{% extends "Abase/base.html" %}
{% block body %}
    {% if page_obj %}
        <!-- Start of the row -->
        <div class="row">
            <!-- Loop through each paginated item -->
            {% for det in page_obj %}
                <div class="col-md-6 mb-4">
                    {% include "include/card/card.html" %}
                </div>
                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    <!-- Close and start a new row every 2 cards, except after the last card -->
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Pagination Controls -->
        {% include "include/paginator/paginator.html" %}
        
    {% else %}
        <!-- No Data Section -->
        {% include "include/nodata/nodata.html" %}
        {% include "include/br/br.html" %}
    {% endif %}
{% endblock body %}
